body{
    margin-right: 1%;
    margin-left: 10%;
    min-width:1250px;
    overflow: auto;
    background-color: rgb(185, 57, 21);
}
.topmenu{
	margin-left: 35px
}
.btn2{
	background-color:#207518;
	font-size: 20px;
	border: 0px;
    border-radius: 11px 11px 0px 0px;
    color: white;
}
.btn{
	background-color:#f49242;
	font-size: 20px;
	border: 0px;
    border-radius: 11px 11px 0px 0px;
    color: white;
}
.border{
	background-color:#f49242;
	width: 1134px;
	height: 51px;
}
.container{
    margin: 35px;
    margin-top: 6px;
}
.container1{

    height: 750px;
    width: 294px;
    display: inline-block;
    background-color: white;
    border: 1px solid #c1c1c1;
    font-style: italic;
    font-weight: 900;
    background: #d4adad;
}
.container2{
    height: 750px;
    width: 836px;
    float: left;
    background-color: white;
    position: relative;
    border: 1px solid #c1c1c1;
    padding-left: 3px;
    background: #a6b0da;
}

.imgs{
    width: 200px;
    height: 150px;
	border-radius: 10px;
}
.imgcontainer{
	display: inline-block;
    padding-left: 4px;
}
.imgbutton{
    background-color: #687584;
    font-size: 16px;
    margin-left: 52px;
    margin-bottom: 20px;
    color: #000000;
    border-radius: 18px 18px 53px 53px;
    width: 98px;
    height: 23px;
}
.banner{
    width: 832px;
    height: 200px;
    top: 3px;
    left: 2px;
    position: relative;

}
.overlap {
    z-index: 2;
    top: 120px;
    left: 754px;
    width: 77px;
    height: 77px;
    position: absolute;
}
.overlap2 {
    z-index: 2;
    top: 118px;
    left: 666px;
    width: 77px;
    height: 77px;
    position: absolute;
}
.underbanner{
    background-color: rgba(158, 158, 158, 0.36);
    position: relative;
    top: -11px;
    left: 3px;
    width: 830px;
    height: 24px;
}
.underbannertext{
	position: relative;
    top: -36px;
    left: 8px;
    font-size: 18px;
    color: #8c8787;
}
.p1{
    color: #9e9532;
}
.p2{
    color: #9e5232;
}
.p3{
    color: #3c1db7;
}
.p4{
    color: #b71c4b;
}
.p5{
    color: #41470e;
}
.p6{
    color: #47220d;
}
.p7{
    color: #dd7cc5;
}
.ptotal{
    border-style: solid;
    border-radius: 0px 36px 0px 9px;
}