*{
	margin: 0;
}
body {
	background-color: #fafafa;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.navbar ul li{
	display: inline-block;
	color: white;
	width: 9%;
	margin-top: 13px;
}
.navbar ul li:hover {
	color:#b6b6b6;
}
.navbar {
	background-color:#323232;
	height: 44px;
	padding: 0 20px;

}
.navbar ul {
	margin:0 auto;
	width: 1000px;
}
.device-navbar ul {
	margin: 0 auto;
	width: 700px;
}
.device-navbar ul li{
	display: inline-block;
	width: 12%;
	text-align: center;
}
.device-navbar ul li a{
	display: block;
	font-size: 12px;
}
.device-navbar {
	background:#f4f4f4;
	padding: 20px 0;
}
.device-navbar ul li:hover a{
	color:#0070c9;
}
.content {
	text-align: center;
	padding-top: 50px;
	height: 860px;
	background:url(http://images.apple.com/v/ipad/home/y/images/home/ipadpro_large.jpg);
	background-repeat: no-repeat;
	background-size: 1222px 577px;
	background-position:center 350px;

}
.content h2{
	font-size: 56px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: Helvetica,Arial,sans-serif;
	display: block;
}
.content h3{
	font-size: 40px;
	font-weight: 300;
	color: #333;
	margin: 0;
	padding: 0;
}
.content h3:last-of-type {
	margin-bottom: 30px;
}
.content a {
	color:#0070c9;
	font-size: 22px;
	font-weight: 300px;
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}
.content a:hover {
	text-decoration: underline;
}
.content-left {
	padding-left: 400px;
}
.content-left h2{
	font-size: 45px;
	font-weight: 500;
	color: #333;
	display: block;
}
.content-left h3{
	font-size: 30px;
	font-weight: 300;
	color: #333;
}
.content-left a {
	color:#0070c9;
	font-size: 22px;
	font-weight: 300px;
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
 }
 .content-left-text {
 	display: inline-block;
 	text-align: center;
 	font-size: 40px;
 	color: #333;
 }
 .apple-pencil {
 	background:url(http://images.apple.com/v/ipad/home/y/images/home/pencil_large.jpg);
 	background-repeat: no-repeat;
 	background-size: 1413px 650px;
 	background-position:520px 0;
 	height: 580px;
 }
 .content2 {
 	width: 988px;
    height: 846px;
    padding-left:600px;
    background:url(http://images.apple.com/v/ipad/home/y/images/home/keyboard_large.png);
    background-repeat: no-repeat;
    background-position:-155px 0px;
    position: relative;

 }
 .content2 h2{
	font-size: 45px;
	font-weight: 500;
	color: #333;
	display: block;
}
.content2 h3{
	font-size: 30px;
	font-weight: 300px;
	color: #333;
	font-style: normal;
	display: block;
}
.content2 a {
	color:#0070c9;
	font-size: 22px;
	font-weight: 300px;
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}
  .content-right {
 	display: inline-block;
 	text-align: center;
 	font-size: 48px;
 	color: #333;
 	padding-top: 160px;
 }
 .product {
 	background:url(http://images.apple.com/v/ipad/home/y/images/home/product_red/family_ipad_red_large.png);
 	background-repeat: no-repeat;
 	background-size: 715px 1005px;
 }
 .container-second-right h2{
 	color: #ab1821;
 }
 .container-second-right h3{
 	margin-bottom: 10px;
 }
 .container-second-right a{
 	color: #0079c9;
 	text-decoration: none;
 	margin: 0 10px;
 	font-size: 17px;
 }
