
@font-face{
	font-family: 'OpenSans';
	src: url("./OpenSans/OpenSans-Regular.ttf") format("truetype");
	src: url("./OpenSans/OpenSans-Regular.eot");
	src: url("./OpenSans/OpenSans-Regular.woff");
}
@font-face{
	font-family: 'OpenSansBold';
	src: url("./OpenSans/OpenSans-Bold.ttf") format("truetype");
}
@font-face{
	font-family: 'OpenSansItalic';
	src: url("./OpenSans/OpenSans-Italic.ttf") format("truetype");
}
* { /* selector universal over-write browser style*/
	margin:0;
	padding:0;

}
.container {
	width: calc(35% - 20px);
	height: auto;
	display: inline-block;
	float:left;
	position:relative;
}
.container .text-1 {
	color: #888;
	font-size: 30px;        /* dimensiune text*/
	font-weight: bold;      /* grosime text*/
	font-family:"OpenSans";
	text-decoration: underline;

}
.container .text-2 {
	color: #888;
	font-size: 30px;        /* dimensiune text*/
	font-weight: bold;      /* grosime text*/
	text-decoration:line-through;
}
.container .text-3 {
	color: #888;
	font-size: 30px;        /* dimensiune text*/
	/*font-weight: bold;      /* grosime text*/
	font-family: "OpenSansBold";
	opacity:0.6;
}	
.container .text-4 {
	color: #888;
	font-size: 30px;        /* dimensiune text*/
	/*font-weight: italic;      /* grosime text*/
	font-family: "OpenSansItalic";
}	



.container-2 {
	
	top: 0;
}
.container.container-2{
	color:blue;
}
.container-2{
	color:red;
}
.container-3{
	position:relative;
	top:right;
	color: red;
	
}


	

