* {
	margin: 0;
	padding: 0;
}
.header, .footer, .content {
	width: 100%;
}
.header img, .footer img {
	width: 100%;
}
.content {
	height: 780px;
	padding: 0 160px;
	width: auto;
}
.breadcrumb {
	background-image: url('breadcrumb.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #d5d5d5;
}
th, td {
	text-align: center;
	padding: 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

}
th {
	color: #6b4896;
}
td {
	color: #242424;

}