header.container-fluid{
	background-color: #f1f1f1;
	padding: 0 30px;
	height: 60px;
}
.logo {
	background-image: url('https://www.google.ro/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
	height: 60px;
	width: 90px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}
.search {
	margin-left: 80px;
	height: 60px;
	padding-top: 15px;
	display: inline-block;
	position: absolute;
	width: calc(100% - 400px);
	max-width: 600px;


}
header .account {
	position: relative;
}
header .account .dropdown-content{
	position: absolute;
	background: #ffffff;
	border:1px solid #e5e5e5;
	width: 370px;
	left: -330px;
	top:60px;
	display: none;
	z-index: 10;
}
.search input{
	height: 30px;
}
header .btn-gol{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: none;
	outline: none;
	box-shadow: none;
	border:none;
	color: #ffffff;
	margin-top: 13px;
	margin-left: 10px
}
header .account .btn-gol{
	background-color: #004d40;
} 
header .aplication .btn-gol{
	background-color: #5d4037;
}
header .notification .btn-gol {
	background-color: blue;
}
.main-content{
	padding: 0 30px;

}
.main-content .sidebar{
	width: 170px;
	background-color: lightgrey;
	min-height: 200px;
	float: left;
}
.main-content .mail-content{
	width: calc(100% - 170px);
	min-height: 200px; 
	float: left;

}
.mail-content .tabs .tabs-step {
	border: 1px solid #e5e5e5;
	border-top:3px solid #f1f1f1;
	background-color: #f1f1f1;
	padding: 10px 15px;
}
.mail-content .tabs{
	border-bottom: 1px solid #999999;
}
.mail-content .tabs .principal:hover,
.mail-content .tabs .principal.active{
	border-top: 3px solid grey;
}
.mail-content .tabs .social:hover,
.mail-content .tabs .social.active {
	border-top: 3px solid blue;
}
.mail-content .tabs .offer:hover,
.mail-content .tabs .offer.active {
	border-top: 3px solid green;
}
.mail-content .tabs .tabs-step.active {
	background-color: #ffffff;
}
.mail-content .email-list .email-items .items {
	border-top: 1px solid grey;
	border-color: #f1f1f1;
	padding: 10px 15px;
}
.mail-content .email-list .email-items .items.active {
	background-color: #ffffff;
}
.mail-content .email-list .email-items  {
	margin-top: 3px;
	padding: 0;
}
.mail-content .email-list .email-items .active-items{
	display: block;
}