header.container-fluid {
	background-color: #f1f1f1;
	padding: 0 30px;
	height: 60px;
}
.logo {
	background-image: url(https://www.google.ro/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
	height: 60px;
	width: 90px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}
.search {
	margin-left: 80px;
	height: 60px;
	display: inline-block;
	position: absolute;
	padding-top: 15px;
	width: calc(100% - 400px);
	max-width: 600px;
}
.search input {
	height: 30px;

}
header .account {
	position: relative;
}
header .account .dropdown-content {
	position: absolute;
	background:#ffffff;
	border:1px solid #e5e5e5;
	width: 3700px;
	left: -332px;
	top: 60px;
	display: none;
	z-index: 10;
}
header .btn-gol {

	border-radius: 50%;
	background-color: none;
	outline: none;
	box-shadow: none;
	border:none;
	color: white;
	margin-top: 14px;
	margin-left: 10px;
}
header .account .btn-gol {
	background-color: green;
}
header .application .btn-gol {
	background-color: #004d40;
}
header .notification .btn-gol {
	background-color: purple;
}
.main-content {
	padding: 0 30px;
}
.main-content .sidebar{
	width: 170px;
	background:lightgrey;
	min-height: 200px;
	float: left;
}
.main-content .mail-content {
	width: calc(100% - 170px);
	background-color: lightblue;
	min-height: 200px;
	float: left;
}
.main-content .tabs .tabs-step {
	border:1px solid #e5e5e5;
	border-top:3px solid #f1f1f1;
	background-color: #f1f1f1;
	padding: 10px 15px;
}
.main-content .tabs {
	border-bottom: 1px solid #999999;
}

.main-content .tabs .principal:hover,
.main-content .tabs .social.active {
	border-top: 3px solid grey;
}
.main-content .tabs .offers:hover,
.main-content .tabs .offers.active {
	border-top: 3px solid green;
}
.main-content .tabs .social:hover,
.main-content .tabs .social.active {
	border-top: 3px solid blue;
}
.main-content .tabs .tabs-step.active {
	background-color: #ffffff;
}
