*{
	margin: 0;
	padding: 0;
}
body{
	background-color: lightblue;
}
.popup{
	display: none;
	border:1px solid grey;
	background-color: white;
	position:absolute;
	top:30px;
}
.popup img{
	display: none;
}
input[type=radio].inputs{
	margin-left: 20px;
}
.xo .container {
	max-width: 630px;
	position: relative;
}
.container .col-md-4{
	border: 1px solid black;
	height: 200px;
}
h1{
	background-color: yellow;
	color: red;
	text-align: center;
	font-size: 150px;

}
.line{
	position: absolute;
	height: 10px;
	width: 80%;
	margin-top: 47%;
	margin-left: calc(10% - 10px);
	background-color: green;
	display: none;
}
.line.vertical{
	transform: rotate(90deg);
}
.line.stanga{
	transform: rotate(45deg);
}
.line.dreapta{
	transform: rotate(-45deg);
}