* {
	margin: 0;
	padding: 0;
}
.header, .footer {
	width: 100%;
}
.header img, .footer img {
	width: 100%;
}
.content {
	height: 1450px;
	
}
.content .breadcrumb  {
	background-image: url(casa.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 23px; 
	margin-top: 50px;
	display: inline-block;
}
.content img {
	float: right;
	padding-top: 20px; 	
}
.content h4 {
	color: purple;
	text-decoration: none;
}
.btn-primary {
	color: white ;
	margin-right: 10px ;
}