body{width:100vw;
height:100vh;}
*{margin:0;
	padding:0;}
.wrapper{
	width:100%;
	height: 100%;
}
.wrapper > div{
	display:block;
	float:left;
}
.wrapper .container-right {
	width:80%;
	height:200px;
	background: blue;
}
.wrapper .container-left{
	width:20%;
	height: 300px;
	background:green;
}
.wrapper .container-left .inner-container{
	width: 100px;
	height:100px;
	float:left;
	background: red;
}