.container {
	border:1px solid #5e2323;
	height: 30px;
	font-size: 20px;
}
a {
    color: #a35c5c;
    margin-left: 20px;
    font-weight: bold;
}
h1{
	height: 50px;
	min-height: 50px;
	font-weight: bold;
	color: #5e2323;
	background-color: #f0c3a2;
	border-bottom: 1px solid #f0c3a2;
	padding: 4px 10px;
}
.container2 .row2 > div .img-responsive {
	height:200px;
	width: 400px;

}
.container2 .row3 >div {
	background-color: #d6b788;
}
.container2 .list-group-item{
	background-color: #e3d5b6;
}
p{
	font-size: 18px;
	color: #aa8d71;
	text-align: -webkit-center;
}
.container2 .row2 .image{
	height: 300px;
	width: 600px;
}