.container {
	height: 800px;
}
.div1 {
	text-align: center;
	background-color: black;
	height: 20%;
}

.div2 {
	text-align: center;
	background-color: grey;
	height: 70%;
}
.div3 {
	text-align: center;
	background-color: black;
	height: 20%;
}