*{
	margin:0;
}
.header-bar{
	height: 67px;
	background-color: #3879cc;
}
.header-bar .img {
	height: 50px; 
	width: 225px;
	display: inline-block;
	background-color:black;
	margin-left: 90px;
}
.social-bar{
	display: inline-block;
	float: right;
	margin-right: 90px;
	margin-top: 17px;
}
.social-bar i{
	font-size:32px;
	color: #a5cdff;
	margin-left: 5px;
}
.navbar{
	margin:0 90px;
	border:1px solid  #e7e7e7;
	height: 50px;
}
.navbar ul li{
	display: inline-block;
	color: #555;
	height: 20px;
	padding: 15px;
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.header-bar .social-bar i:hover{
	color:white;
}
.navbar ul li.settings{
	float: right;
	margin-right:15px;
}
.navbar ul{
	margin-left:15px;
	padding-left: 0;
}
.navbar ul li:hover{
	background-color:#f1f1f1;
}
.main-content{
	border:1px solid #e3e3e3;
	margin: 0 90px;
}
.content{
	width:70%;
	float: left;
	min-height: 10px;
}
.sidebar{
	width: 30%;
	float:left;
}
.sidepar .upcoming h2{
	font-family: "Roboto",sans-serif;
	font-weight:700;
	font-size:18px;
}
.upcoming{
	border-bottom:1px solid #e3f3f3;
}
.sidebar .upcoming p{
	margin-bottom: 10px;
	color:#333;
	font-size:12px;
}
.sidebar .upcoming p a{
	color:red;
}
.sidebar .upcoming p a:hover{
	text-decoration: underline;
}
.sidebar .items{
	margin-top:20px;
}
.sidebar .items h2{
	margin-bottom:10px;
	font-family: "Roboto",sans-serif;
	font-weight: 700;
	font-size: 18px;
}
.sidebar .items .item{
	background-color:#d8f2c2;
	padding:2px 0;
	border-bottom: 1px solid #cedec0;
}
.sidebar .items .item h4{
	padding: 3px 7px;
}
.sidebar .items .item label{
	float: right;
	margin-top:11px;
	margin-right:7px;
}
.sidebar .items .item p{
	margin-left:7px;
	font-size:12px;
	padding-bottom: 4px;
}
.sidebar .items .item i{
	color:#4c7923;
	font-size:11px;
}
.content img{
	margin-left: 20px;
	width: 250px;
}
.content img:first-child{
	margin-left: 0;
}
.content .another-img{
	float:left;
	width:250px;
	margin-left: 20px;
	height:40px;
	background-color:rgbs(0,0,0,0.6);
	margin-top:-10px;
}
.content .another-img .first{
	margin-left:0;
}