*{
	margin: 0;
}
body {
	background-color: #fafafa;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.navbar ul li {
	color: white;
	display: inline-block;
	width:9%;
	margin-top: 12px;
}
.navbar {
	background-color: #323232;
	height: 44px;
	padding: 0 40px;
}
.navbar ul {
	width: 1000px;
	margin: 0 auto;

}
.device-navbar ul li{
	display: inline-block;
	width: 12%;
	text-align:center;
}
.device-navbar ul li a{
	display: block;
	font-size: 12px;
}
.device-navbar {
	background: #f4f4f4;
	padding: 20px 0;
}
.device-navbar ul li:hover a{
	color: #0070c9;
}
.navbar ul li:hover{
	color: #b6b6b6;
}
.device-navbar ul {
	margin: 0 auto;
	width: 700px;
}
.container{
	text-align: center;
	height: 960px;
	background: url(http://images.apple.com/v/ipad/home/y/images/home/ipadpro_large.jpg);
	background-repeat: no-repeat;
	background-size: 1222px 577px;
	background-position: center 380px;
}
.container  h2 {
	letter-spacing: .004em;
	font-weight: 500;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 56px;
	color: #333;
	margin-top: 60px;
}
.container h3{
	letter-spacing: .004em;
	font-weight: 500;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #333;
}
.container h3:last-of-type{
	margin-bottom: 30px;
}
.container a{
	color: #0070c9;
	text-decoration: none;
	margin: 0 10px;
	font-size: 22px;
}
.container-left {
	padding-left: 300px;
}
.container-left h2 {
	letter-spacing: .004em;
	font-weight: 500;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 48px;
	color: #333;
	margin-top: 60px;
}
.container-left h3{
	letter-spacing: .004em;
	font-weight: 500;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #333;
}
.text {
	display: inline-block;
	text-align: center;
}
.container-left a{
	color: #0070c9;
	text-decoration: none;
	margin: 0 10px;
	font-size: 22px;
}
.apple-pencil{
	background: url("http://images.apple.com/v/ipad/home/y/images/home/pencil_large.jpg");
	background-repeat: no-repeat;
	background-size: 1413px 567px;
	background-position: 500px;
	margin-top: 50px;
	height: 580px;
}
.container-right h3{
	letter-spacing: .004em;
	font-weight: 500;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #333;
}
.container-right h2 {
	letter-spacing: .004em;
	font-weight: 500;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 48px;
	color: #333;
	
}
.container-right a{
	color: #0070c9;
	text-decoration: none;
	margin: 0 10px;
	font-size: 22px;
}
.container-right {
	padding-left: 600px;
	height: 850px;

}
.container-right-text{
	text-align: center;
	display: inline-block;
}
.apple-smart {
	background: url("http://images.apple.com/v/ipad/home/y/images/home/keyboard_large.png");
	background-repeat: no-repeat;
	background-size: 988px 846px;
	background-position: -120px 0;

}
.container-second-right{
	height: 566px;
	padding-left: 50%;
}
.container-second-right-text {
	text-align: center;
	padding-top: 200px;
}
.product{
	background: url("http://images.apple.com/v/ipad/home/y/images/home/product_red/family_ipad_red_large.png");
	background-repeat:no-repeat;
	background-size: 715px 1005px;
}
.container-second-right h2 {
	color: #AB1821;
	margin-bottom: 10px;
}
.container-second-right a{
	color: #0070c9;
	text-decoration: none;
	margin:0 10px;
	font-size: 17px;

}
.container-second-right a:hover{
	text-decoration: underline;
	}
.container-second-right p{
	line-height: 25px;
	margin-bottom: 20px;
}