* {
	margin: 0;

}
.header-bar {
	height: 67px;
	background: #3879cc;
}
.header-bar .img {
	height: 50px;
	width: 225px;
	display: inline-block;
	background-color: #3879cc;
	margin-left: 90px;
	margin-top: 8px;
	margin-bottom: 8.5px;
	font-size: 50px;

}
.header-bar img {
	max-width: 100%;
}

.header-bar .social-bar {
	display: inline-block;
}
.social-bar {
	float: right;
    margin-right: 90px;
    margin-top: 17px;

}
.social-bar i {
	font-size: 32px;
	color: #a5cdff;
	margin-left: 3px;

}
.navbar {
	margin: 0 90px;
	border: 1px solid #e7e7e7;
	height: 50px;
	margin-bottom: 20px;

}
.navbar ul li {
	display: inline-block;
	height: 20px;
	padding: 15px;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: lighter;
	color: #555;
}
.header-bar .social-bar i:hover {
	color: white;
}
.navbar ul li.settings {
	float: right;
	margin-right: 15px;
}
.navbar ul {
	margin-left: 15px;
	padding-left: 0;
}
.navbar ul li:hover {
	background-color: #f1f1f1;
}
.main-content {
	margin: 0 90px;
}
.content {
	width: 70%;
	min-height: 10px;
	float: left;
}
.sidebar {
	width: 30%;
	float: left;
}
.sidebar .upcoming h2 {
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px
}
.upcoming {
	border-bottom: 1px solid #e3e3e3;
}
.sidebar .upcoming p {
	margin-bottom: 10px;
	color: #333;
	font-size: 14px;
}
.sidebar .upcoming p a {
	color: red;

}
.sidebar .upcoming p a:hover {
	text-decoration: underline;
}
.sidebar .items {
	margin-top: 20px;

}
.sidebar .items h2 {
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px
}
.sidebar .items .item {
	padding: 2px 0;
	background: #e4f6d4;
    border-bottom: 1px solid #cedec0;

}
.sidebar .items .item h4 {
	padding: 3px 7px;
}
.sidebar .items .item label {
	color: rgb(152, 173, 133);
	float: right;
	margin-top: 11px;
	margin-right: 7px;
}
.sidebar .item:hover {
	background-color: #cedec0;
	 
}
.sidebar .items .item p{
	margin-left: 7px;
	font-size: 12px;
	padding-bottom: 4px;
	color: #98ad85;
}
.sidebar .items .item h4 i{
	color: #4c7923;
	font-size: 11px;
	margin-right: 5px;
}
.content img {
	margin-left: 20px
}
.content img:first-child {
	margin-left: 0;
}