*{
	margin:0;
}
.header-bar{
	height: : 67px;
	background-color: #3879cc;
	
	
}
.header-bar .img-logo{
	height:50px; 
	width:255px;
	background-color: red;
	display: inline-block;
	margin-left: 140px;
	margin-top: 4px;

}
.social-bar{
	display: inline-block;
	float: right;
	margin-right: 140px;
	margin-top: 10px;


}
.social-bar i {
	font-size: 32px;
	color:#a5cdff;
	margin-left: 5px;
}
.navbar{
	margin: 0 90px;
	border: 1px solid #e7e7e7;
	height: 50px;
	margin-bottom: 20px;
}
.navbar ul li {
	display: inline-block;
	font-size: 14px;
	padding:15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#555;
	height: 20px;
	 
}
.header-bar .social-bar i:hover{
	color: white;
}
.navbar ul li.Settings{
	float: right;
	margin-right: 15px;
}
.navbar ul{
	margin-left: 15px;
	padding-left: 0;
}
.navbar ul li:hover{
	background-color: #f1f1f1;
}
.main-content{
	border:1px solid #e3e3e3;
	margin:0 90px;
}
.content{
	width: 70%;
	height: 1px;
	float:left;
}
.sidebar{
	width: 30%;
	float:left;


}
.sidebar .upcoming h2{
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.upcoming{
	border-bottom: 1px solid #e3e3e3;
}
.sidebar .upcoming p{
	margin-bottom: 10px;
	color: #333;
	font-size: 12px;
}
.sidebar .upcoming p a{
	color:red;
}
.sidebar .upcoming p a:hover{
	text-decoration: underline;
}
.sidebar .items{
	margin-top:20px;
}	
.sidebar .items h2{
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.sidebar .items .item{
	background-color: #e4f6d4;
    border-bottom: 1px solid #cdcdcd;
    padding: 2px 0;
}
.sidebar .items .item label{
	float:right;
	margin-top:11px;
	margin-right: 7px;
	color:#98ad85;
}
.sidebar .items .item h4{
	padding:3px 7px;
	

}
.sidebar .items .item p{
	margin-left: 7px;
	font-size: 12px;
	padding-bottom : 4px;
	color:#98ad85;
}
.sidebar .items .item i{
	color:#4c7923;
	font-size: 11px;

}
.sidebar .items .item:hover{
	background-color: #d8f2c2;
}
.content img{
	margin-left: 20px;
}
.content img:first-child{
	margin-left: 0;
}
.image-news .title{
	margin-top: -50px;
	color: red;

}