.title{
	font color: red;
	font-family: cursive;


}
.content{
	font-family: cursive;
	color:red;
	text-align: center;
	font-size: 20px;
	border:solid;
}
h1{
font-size:50px;
text-align: center;
color:blue;
}
body{
	background-image: url("111.jpg");
	background-size: 700px;
	

}