* {
	margin: 0;
	padding: 0;
}
.container .box {
	float: left;
	min-height: 100px;

}
.container .box .count {
	
	min-height: 100%;
	max-height: 100%;
	height:  calc(100% - 2px);
	width: calc(100% - 2px);
	display: block;
	border: 1px solid red;

}