.header{
	background-color: #000;
	color: #fff;
}


.header .logo img{
	width: 40px;
	height: 40px;
}

.header .navbar{
	min-height: 40px;
	margin: 0;
	margin-left: 12px;
}

.header .navbar ul li{
 	display: inline-block;
 	height: 40px;
 	float: left;
 	padding: 11px 16px 0 16px;

 }


 .header .navbar ul li.border-item{
 	border-right: 1px solid #333;  /* border intre butoane */

 }

.header .navbar ul li a{
  	text-decoration: none;
  	color: white;
  	text-transform: capitalize;  /* litere Mare -mici*/
  	font-weight: 700;
}

.header .navbar ul{
	margin: 0;
	padding: 0;
}
.header .navbar ul li a {
	color: #aaa;
	font-weight: 400;
   
}
.header .navbar ul li.border-item a {
	color: #fff;
	font-weight: 700;
}

.header .navbar ul li.border-item:first-child{ /* pune inainte de HOT border*/
	border-left: 1px solid #333;
}

.header .logo{
	width: 0;
}
.header .navbar ul li:hover{
	background: #333333;
}


.header .navbar button{
	display: inline-block;
	float: right;
	height: 30px;
}