*{
	margin:0;
	padding:0;
}
.header, .footer{
	width:100%;
}

.header img, .footer img {
	width:100%;
}
.content{
	height:780px;
	
	
}
.breadcrumb{
	background:url('home.png');
	background-repeat:no-repeat;
	padding-left:18px;
	background-position:left center;
}
.popcorn{
	float:right;
}
.form-group label{
	font-size:14px;
	color:#242424;
	font-weight:400;
}
.dropdown{
	
}