body{
	background-color: lightblue;
}

.carousel-indicators{
	color:red;
	background-color: lightgrey;
	top:322px;
	position: relative;

}
.slide{
	/*width: 450px;*/
	width: 100%;
	margin: 0 auto;
}

.carousel-inner>.item{
	display: block;
	float: left;
	overflow: hidden;
	opacity: 0.6;
}
.carousel-inner>.item.active{
	z-index: 999;
	position: absolute;
	left:180px;
	opacity: 1;
}
.container{
	width: 50%;
}