.header{
	padding:20px 10px;
	
	border-bottom:1px solid black;
}
.header h1{
	display:inline-block;
	background-color:#27aae1;
	color:#fff;
	padding:7px 25px;
	text-transform:uppercase;
	font-size:40px;
	font-weight:900;
	margin-left:-10px;

}
.header img{
	width:250px;
	height:250px;
}

.content{ 
	min-height:500px;
}
.content .left{
	height:500px;
	padding:0 35px 0 15px;
	width:34%;
	float:left;
	
}

.content  .info{
	margin-bottom:50px;
}
.content  .info h3{
	color:#27aae1;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:15px;
}
.content .info .info-text{
	color:#939598;
	line-height: 1.5;
	font-size:20px;
}
.content .right{
	height:500px;
	width:66%;
	float:left;
	background-color:blue;
}
.footer{
	min-height:200px;
	background-color:#4a4f5a;
}

.content .info.contact.info-text{
	border-bottom:1px solid #939598;
	width:90%
	padding-bottom:10px;
	font-size:18px;
}
.content .info.contact.info-text .name{
	border-bottom:1px solid #939598;
	width:90%;
}
.content .info.contact .info-text .value{
	float:right;

}