*{
	margin: 0;
	padding: 0;
}

body{
	background-color: grey;
}
.popup {
	display: none;
	border:1px solid grey;
	background-color: white;
	position: absolute;
	top: 30px;
}
.popup img {
	display:none;
}

input [type=radio].inputs{
	margin-left:20px;
}

.xo .container{
	max-width: 630px;
	position: relative;
	top:90px;

}
.container .col-md-4 {
	border: 2px solid black;
	height: 200px;

}
h1{
	text-align: center;
	font-size: 150px;


}
.line {
	position: absolute;
	height: 17px;
	width: 80%;
	margin-top: 47%;
	margin-left: calc(10%-10px);
	background-color: red;
	display: none;
}

.line.vertical {
	transform:rotate(90deg); 
}

.line.oblicS {
	transform:rotate(45deg);
}
.line.oblicD {
	transform:rotate(-45deg);
}