/*.name{
	color:green;
	font-size: 20px;
}

p{
	color:red;
	font-size: 12px;
	text-align: center;
    
}

.person{
	border: 10px solid purple ;
	float:left;
	max-height: 400px;
	min-height:270px;
	
	
	

}*/
body{
	background: #ffe1ff;
} 