.name{
	color:green;
	font-size: 20px;
}

p{
	color:red;
	font-size: 12px;
	text-align: center;

}

.person{
	border: 2px solid purple ;
	float:left;
	font-size: 30px;
	margin: 5px 5px 5px 5px;
	font-size-adjust: all;
	text-align: center ;
}