.animate{
	width:200px;
	height:200px;
	background-color:magenta;
	display:none;
}
.animate-color{
	animation-name:redToYellow;
	animation-duration:10s;
	animation-iteration-count:infinite;
}
@keyframes redToYellow {
    0%{background-color: red;}
    10%{background-color: blue;}
    20%{background-color: lightgrey;}
    30%{background-color: gray;}
    40%{background-color: green;}
    50%{background-color: violet;}
    60%{background-color: magenta;}
    70%{background-color: pink;}
    80%{background-color: black;}
    90%{background-color: orange;}
    100%{background-color: purple;}
}
.animate-position{
	position:relative;
	animation-name:leftToRight;
	animation-duration:10s;
	animation-iteration-count:infinite;
}
@keyframes leftToRight{
	0%{left:0px;top:0px;transform:rotate(360deg);}
	10%{left:100px;}
	30%{top:300px;}
	50%{left:200px;}
	70%{top:100px;}
	90%{left:50px;}
	100%{top:0px;left:0px;}
}
.circle{
	width:100px;
	height:100px;
	background-color:blue;
	border-radius:50%;
	position:absolute;
}
