body {
	background: url(background.png);
}
.adm h3{
	background-color: #fe580f;
	height: 80px;
	width: 150px;
	text-align: center;
	padding-top: 27px;
	color: white;
	font-size: 20px;
	margin:0;
}
.slide h3 {
	background-color: #7c8389;
	height: 80px;
	width: 150px;
	text-align: center;
	padding-top: 27px;
	color: white;
	font-size: 20px;
	margin:0;
}
.navbar .adm .img {
	padding-bottom: 20px;
}
.navbar .slide img {
	margin-right:10px;
}

.navbar h3 {
	float: right;
	display: inline-block;
	}
.search {
	height: 300px;
	text-align:center;


}
.search input {
	margin-top: 150px;
	width: 400px;
	height: 50px;
	background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 50px;

}
.btn {
	margin-left: -50px;
	background-color: transparent;
}
.container-fluid .title  {
	color: #666666;
	font-size: 20px;
	margin-top: 80px;
	text-align: center;
	margin-bottom: 35px;
}
.img-responsive img {
	width: 100%;
}
.container {
	width: 100%;
	height: 206px;
}
.container h6 {
	font-size: 16px;
	color: #989898;
	font
}
.container h4 {
	margin-top: 20px;
	font-size: 12px;
	color: #747474;
}
.container .hours {
	margin-top: 0px;
	font-size: 12px;
	font-style: italic;
	color: #ccd5da;
}
.container .box {
	border-bottom: 1px solid;
	height: 55px;

}
.container .box p {
	border:1px solid;
	padding: 4px;
	margin-right: 6px;
	float: left;
}
.number p {
	margin-top: -50px;
	float: right;
}